.menu-principal {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    max-width: 90%;
    margin: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-principal li {
    margin-bottom: 5px;
}

.menu-principal a {
    display: flex;
    background-color: #e5e7eb;
    color: #111827;
    text-decoration: none;
    padding: 5px 16px;
    margin-left: 5px;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.menu-principal a img {
    padding-right: 20px;
}

.menu-principal a:hover {
    background-color: #d1d5db;
}

@media (min-width: 640px) {
    .menu-principal {
        flex: 1;
        min-width: 250px;
        max-width: 100%;
    }


}
