.container-header {
    background-color: #96949a;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conatiner-info-header {
    display: flex;
    align-items: center;
}

#find {
    padding: 0.25rem;
    /* Equivale a Tailwind p-1 */
    border: 1px solid #9ca3af;
    /* border-gray-400 */
    border-radius: 0.375rem;
    /* rounded-md */
    outline: none;
    transition: box-shadow 0.2s ease;
    display: none;
}

#find:focus {
    box-shadow: 0 0 0 2px #3b82f6;
    /* ring-2 ring-blue-500 */
}

.actionIcons {
    display: flex;
}

#container-PanelAdministrativo {
    display: flex;
}

#container-PanelAdministrativo div {
    width: 100px;
    border: solid black 1px;
}

