
.title-estudiantes {
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 20px 0px;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap; /* ❗ Previene que el botón se baje en pantallas pequeñas */
  position: relative;
}

.dark .title-estudiantes {
  color: #f9fafb;
  border-bottom: 2px solid #4b5563;
}


.btn-volver {
    /* margin: 10px; */
    padding: 6px 12px;
    background-color: var(--card-bg);
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    color: #111827;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

.btn-volver:hover {
    background-color: #f3f4f6;
}

.dark .btn-volver {
    color: #111827;
    border-color: #4b5563;
    background-color: var(--card-bg);
}

.dark .btn-volver:hover {
    background-color: #2d3748;
}

.container-accesos-estudiantes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 0;
  justify-content: center;
}

.acceso-btn {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  min-width: 220px;
  text-align: center;
}

.acceso-btn:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.acciones-header {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.icono-menu {
  width: 24px;
  cursor: pointer;
  filter: brightness(0);
}

.dark .icono-menu {
  filter: brightness(0) invert(1);
}

.dropdown-opciones {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  z-index: 100;
  width: 220px;
  font-size: 16px;
}

.dropdown-opciones li {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-opciones li:hover {
  background-color: #f3f4f6;
}

/* Modo oscuro */
.dark .dropdown-opciones {
  background-color: #1f2937;
  color: #f3f4f6;
  border-color: #4b5563;
}

.dark .dropdown-opciones li:hover {
  background-color: #374151;
}


@media (min-width: 640px) {
    .title-estudiantes button {
      margin-right: 0px;
    }
    .btn-volver {
      display: flex;
    }
}
